<div class="row">
<div class="col-xs-12">
  <h2>Les livres de la Bibliothèques</h2>
  <div class = "list-group">
    <button class="list-group-item"
            *ngFor="let book of books; let i = index"
            (click)="onViewBook(i)">
    <h3 class="list-group-item-secondary">
      {{book.title}}
      <button class="btn btn-secondary d-flex" (click)="onDeleteBook(book)">
        <span class="bi bi-trash"></span>
      </button>
    </h3>
      <p class="list-group-item-secondary">{{book.author}}</p>
    </button>
  </div>
  <button class="btn btn-light" (click)="onNewBook()">Ajouter un livre</button>
</div>
</div>
